@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  margin: 0;
  padding: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-nunito: Nunito;
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-slateblue: #5d64cb;
  --color-darkgray: #b0b0b0;
  --color-darkslateblue: #4c519c;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-3xs: 10px;
}
